.hover-effect:hover{
    cursor: pointer;
}

.height-button{
    height: 4rem;
    border-radius: 15px;
}

.color-white{
    color: #fff !important;
}

.focus-none:focus{
    outline: none;
    box-shadow: none;
}
.color-black{
    color: #000
}

.bg-danger{
    background-color: #701323 !important;
}