/* .table-border-none{
    border: none !important;
} */

.td-border{
    border: 2px solid white;
}

.cross-size{
    font-size: larger !important;
}

.fixed-width-Trade
{
    max-width: 102px !important;
    min-width: 102px !important;
}
.custom-nsefut-width
{
    width: 20% !important;
}

.focus-none-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
  
.focus-none-button:hover{
    background-color:blueviolet !important;
}

.the-button:focus {
    outline: none;
    box-shadow: none;
    }
    
.bg-gray{
    background-color: gray;
}