.container,.container-fluid {
  font-size: 0.875rem !important;
  /* font-family:; */
}

.hover-effect-nav:hover{
  color: white !important;
  background-color:#FAB417;
}

.bg-brown {
  background-color: brown;
}

.set-width
{
  width: 120px;
}

.color-brown {
  color: brown;
}

.accounts-radius {
  border-radius: 20px;
}

.margin-account {
  margin: 0 7.5rem;
}

.font-smaller {
  font-size: smaller;
}

.margin-cols {
  margin-top: 4.5rem;
}

.btn-radius {
  border-radius: 10px;
}

.B-radius {
  border-radius: 15px;
}

.width-card {
  width: 5rem !important;
}

.pos-rel {
  position: relative !important;
  top: 10px;
}

.border-dash-nav{
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.182) !important;
}

.navbar-toggler-icon{
  color: black !important;
}