.navbar-border-radius {
  border-radius: 15px;
}

.navbar-border-radius-2 {
  border-radius: 55px !important;
  padding: 0;
}

.bg-orange {
  background-color: #fab417;
}

.color-white {
  color: #fff !important;
}

.height-navbar-button {
  height: 3rem;
}

.radius-navbar {
  /* border-radius: 15px; */
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.radius-navbar-remove {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
/* .dropdown-toggle::after {
  content: none;
} */

.focus-none:focus {
  outline: none;
  box-shadow: none;
}
/* 
.dropbtn {
  cursor: pointer;
} */

/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* .dropdown-content {
  display: none;
  position: absolute;
  min-width: 12.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content .link-tag-navbar {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
  }
   */

.no-dec {
  text-decoration: none !important;
}

.no-dec:hover {
  color: #fab417;
  margin: 0;
}

/* .fix{
  position: fixed !important;
} */

.width-navbar-drop {
  width: 13rem !important;
  /* border-radius: 20px; */
}

.dpdn-class {
  position: relative !important;
  border-radius: 20px !important;
}

.border-list {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.border-list-2 {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

/* Media Queries */

@media (max-width: 768px) {
  .width-navbar-drop {
    width: 90vw !important;
  }
  /* .fix{
    position: relative !important;
  } */
}

@media (max-width: 576px) {
  .width-navbar-drop {
    width: 85vw !important;
  }
}
